<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TeacherMapper">
	

	<!-- ==================== 문제(TestOne)==================== -->
	
	<!-- Test 상세보기 (마지막 문제번호  ) -->
	<select id="selectLastQuestionNo" 
		resultType="int">
		SELECT
			question_no questionNo
		FROM question
		ORDER BY question_no DESC
		LIMIT 0,1
	</select>
	
	<!-- Test 상세보기 (test한개 ) -->
	<select id="thisTest"
		resultType="goodee.gdj58.online.vo.Test"
		parameterType="int">
		SELECT
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test
		WHERE test_no = #{testNo}
	</select>
	
	<!-- Test 상세보기 (답안지 보기) -->
	<select id="selectAnswerList"
		resultType="java.util.Map"
		parameterType="int">
		SELECT
			q.question_idx questionIdx
			, e.example_idx exampleIdx
		FROM example e
		INNER JOIN question q ON e.question_no = q.question_no
		INNER JOIN test t ON q.test_no = t.test_no
		WHERE t.test_no = #{testNo} AND e.example_ox = '정답'
		ORDER BY q.question_idx ASC
	</select>
	
	<!-- Test 상세보기 (문제당 문제와 보기) -->
	<select id="selectExampleList"
		resultType="java.util.Map"
		parameterType="int">
		SELECT
			q.question_no questionNo
			, q.question_idx questionIdx
			, q.question_title questionTitle
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
			, e.example_ox exampleOx
		FROM question q
		INNER JOIN example e ON e.question_no = q.question_no
		WHERE q.test_no = #{testNo}
		ORDER BY q.question_idx ASC, e.example_idx ASC
	</select>
	
	
	<!--  ==================== 시험(Test) ==================== -->
	<!-- Test 수정 -->
	<update id="updateTest"
		parameterType="goodee.gdj58.online.vo.Test">
		UPDATE test
		SET test_title = #{testTitle}
		WHERE test_no = #{testNo}
	</update>
	
	<!-- Test 삭제 -->
	<delete id="deleteTest" parameterType="int">
		DELETE FROM test
		WHERE test_no = #{testNo}
	</delete>
	
	<!-- Test 입력 -->
	<insert id="insertTest" parameterType="goodee.gdj58.online.vo.Test">
		INSERT INTO test (
			test_title
			, test_date
		) VALUES (
			#{testTitle}
			, CURDATE()
		)
	</insert>
	
	<!-- Test 리스트 검색후 카운트-->
	<select id="selectTestCount" 
		resultType="int"
		parameterType="java.util.Map">
		
		SELECT COUNT(*)
		FROM test
		<where>
			<if test="searchWord != null || searchWord !=''">
				test_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
	
	<!-- Test 리스트 -->
	<select id="selectTestList"
		resultType="goodee.gdj58.online.vo.Test"
		parameterType="java.util.Map">
		
		SELECT
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test
		<where>
			<if test="searchWord != null || searchWord !=''">
				test_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY test_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	
	<!--  ==================== 강사 UI ==================== -->
	<!-- 강사 pw 수정 -->
	<update id="updateTeacherPw"
		parameterType="java.util.Map">
		UPDATE teacher
		SET teacher_pw = PASSWORD(#{newPw})
		WHERE teacher_no = #{teacherNo} AND teacher_pw = PASSWORD(#{oldPw})
	</update>
	
	<!-- 강사 카운트-->
	<select id="selectTeacherCount" 
		resultType="int"
		parameterType="java.util.Map">
		
		SELECT COUNT(*)
		FROM teacher
		<where>
			<if test="searchWord != null || searchWord !=''">
				teacher_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
	
	<!-- 강사 삭제 -->
	<delete id="deleteTeacher" parameterType="int">
		DELETE FROM teacher
		WHERE teacher_no = #{teacherNo}
	</delete>
	
	<!-- 강사 입력 -->
	<insert id="insertTeacher" parameterType="goodee.gdj58.online.vo.Teacher">
		INSERT INTO teacher (
			teacher_id
			, teacher_pw
			, teacher_name
		) VALUES (
			#{teacherId}
			,PASSWORD(#{teacherPw})
			,#{teacherName}
		)
	</insert>
	
	<!-- 강사 리스트 -->
	<select id="selectTeacherList"
		resultType="goodee.gdj58.online.vo.Teacher"
		parameterType="java.util.Map">
		
		SELECT
			teacher_no teacherNo
			, teacher_id teacherId
			, teacher_name teacherName
		FROM teacher
		<where>
			<if test="searchWord != null || searchWord !=''">
				teacher_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY teacher_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 강사로그인 -->
	<select id="login"
		parameterType="goodee.gdj58.online.vo.Teacher"
		resultType="goodee.gdj58.online.vo.Teacher">
		SELECT
			teacher_no teacherNo
			, teacher_id teacherId
			, teacher_name teacherName
		FROM teacher
		WHERE teacher_id = #{teacherId} AND teacher_pw = PASSWORD(#{teacherPw})	
	</select>
</mapper>